/*! NRK-sans v2.1.0 - Copyright 2022 NRK. All rights reserved */
/* NRK Sans variable */

@font-face {
  font-family: 'NRK Sans Variable';
  font-display: swap;
  src: url('https://static.nrk.no/nrk-sans/2.1.0/NRKSans_Variable.woff2') format('woff2 supports variations'),
    url('https://static.nrk.no/nrk-sans/2.1.0/NRKSans_Variable.woff2') format('woff2-variations');
  font-weight: 1 950;
}

/* NRK Sans variable italic */

@font-face {
  font-family: 'NRK Sans Variable';
  font-style: italic;
  font-display: swap;
  src: url('https://static.nrk.no/nrk-sans/2.1.0/NRKSans_Variable_Italic.woff2') format('woff2 supports variations'),
    url('https://static.nrk.no/nrk-sans/2.1.0/NRKSans_Variable_Italic.woff2') format('woff2-variations');
  font-weight: 1 950;
}

:root {
  /* Weight values */
  --nrk-sans-weight-hairline: 1;
  --nrk-sans-weight-thin: 90;
  --nrk-sans-weight-extralight: 180;
  --nrk-sans-weight-light: 290;
  --nrk-sans-weight-regular: 400;
  --nrk-sans-weight-medium: 560;
  --nrk-sans-weight-bold: 700;
  --nrk-sans-weight-extrabold: 800;
  --nrk-sans-weight-heavy: 890;
  --nrk-sans-weight-black: 950;
  /* Width values */
  --nrk-sans-width-regular: 100;
  --nrk-sans-width-compressed: 50;
  --nrk-sans-width-condensed: 80;
  --nrk-sans-width-semi-condensed: 90;
  --nrk-sans-width-extended: 120;
  --nrk-sans-width-ultra-extended: 200;
  /* Width for use in font-variation-settings */
  --nrk-sans-regular: 'wdth' var(--nrk-sans-width-regular);
  --nrk-sans-compressed: 'wdth' var(--nrk-sans-width-compressed);
  --nrk-sans-condensed: 'wdth' var(--nrk-sans-width-condensed);
  --nrk-sans-semi-condensed: 'wdth' var(--nrk-sans-width-semi-condensed);
  --nrk-sans-extended: 'wdth' var(--nrk-sans-width-extended);
  --nrk-sans-ultra-extended: 'wdth' var(--nrk-sans-width-ultra-extended);
  /* Feature settings */
  --nrk-sans-features-super: 'ss01', 'ss02';
  --nrk-sans-features-animation: 'ss04';
}

:root {
  --font-size-largeTitle: 2.3125rem;
  --font-size-title1: 1.75rem;
  --font-size-title2: 1.375rem;
  --font-size-title3: 1.1875rem;
  --font-size-preamble: 1.25rem;
  --font-size-headline: 1.0625rem;
  --font-size-body: 1.0625rem;
  --font-size-callout: 1rem;
  --font-size-subhead1: 0.9375rem;
  --font-size-subhead2: 0.9375rem;
  --font-size-footnote: 0.8125rem;
  --font-size-caption1: 0.75rem;
  --font-size-caption2: 0.6875rem;
  --font-size-label1: 0.8125rem;
  --font-size-label2: 0.6875rem;
  --font-size-collectionLabel: 0.6875rem;
  --font-size-icon: 0.6875rem;
  --font-size-iconLarge: 0.8125rem;
}

.text-style-largeTitle {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-largeTitle);
  line-height: 1.2em;
  font-weight: 800;
  letter-spacing: 0.023em;
  font-stretch: 100%;
}

.text-style-title1 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-title1);
  line-height: 1.2em;
  font-weight: 800;
  letter-spacing: 0.023em;
  font-stretch: 100%;
}

.text-style-title2 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-title2);
  line-height: 1.25em;
  font-weight: 800;
  letter-spacing: 0.016em;
  font-stretch: 100%;
}

.text-style-title3 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-title3);
  line-height: 1.25em;
  font-weight: 800;
  letter-spacing: 0.017em;
  font-stretch: 100%;
}

.text-style-preamble {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-preamble);
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: 0.009em;
  font-stretch: 100%;
}

.text-style-headline {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-headline);
  line-height: 1.25em;
  font-weight: 660;
  letter-spacing: 0.009em;
  font-stretch: 100%;
}

.text-style-body {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-body);
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  font-stretch: 100%;
}

.text-style-callout {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-callout);
  line-height: 1.35em;
  font-weight: 400;
  letter-spacing: normal;
  font-stretch: 100%;
}

.text-style-subhead1 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-subhead1);
  line-height: 1.2em;
  font-weight: 660;
  letter-spacing: 0.017em;
  font-stretch: 100%;
}

.text-style-subhead2 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-subhead2);
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: normal;
  font-stretch: 100%;
}

.text-style-footnote {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-footnote);
  line-height: 1.35em;
  font-weight: 400;
  letter-spacing: 0.003em;
  font-stretch: 100%;
}

.text-style-caption1 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-caption1);
  line-height: 1.3em;
  font-weight: 660;
  letter-spacing: 0.014em;
  font-stretch: 100%;
}

.text-style-caption2 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-caption2);
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: normal;
  font-stretch: 100%;
}

.text-style-label1 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-label1);
  line-height: 1.1em;
  font-weight: 560;
  letter-spacing: normal;
  font-stretch: 80%;
}

.text-style-label2 {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-label2);
  line-height: 1.1em;
  font-weight: 660;
  letter-spacing: normal;
  font-stretch: 100%;
}

.text-style-collectionLabel {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-collectionLabel);
  line-height: 1.1em;
  font-weight: 660;
  letter-spacing: 0.115em;
  font-stretch: 100%;
}

.text-style-icon {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-icon);
  line-height: 0.74em;
  font-weight: 660;
  letter-spacing: 0.003em;
  font-stretch: 100%;
}

.text-style-iconLarge {
  font-family: 'NRK Sans Variable', sans-serif;
  font-size: var(--font-size-iconLarge);
  line-height: 0.74em;
  font-weight: 660;
  letter-spacing: 0.003em;
  font-stretch: 100%;
}
