:root {
  /* Animations and transitions */
  --duration-xs: 0.125s;
  --duration-s: 0.25s;
  --duration-m: 0.5s;
  --duration-l: 1s;
  --duration-xl: 2s;
  --theme-transition: 2s cubic-bezier(0.12, 0, 0, 1);

  /* Timing functions */
  --ease-in: cubic-bezier(1, 0, 0, 0.12);
  --ease-out: cubic-bezier(0.12, 0, 0, 1);

  /* Font */
  --font-feature-settings-smaa-barn: 'ss01', 'ss02';
  --font-feature-settings-mellom-barn: 'ss01', 'ss02';
  --font-feature-settings-store-barn: 'ss01', 'ss02';
  --font-feature-settings-ung: normal;
  --font-feature-settings-voksen: normal;
  --font-feature-settings: var(--font-feature-settings-voksen);

  /* Borders */
  --border-radius-voksen-s: 0.0625rem; /* 1px */
  --border-radius-voksen-m: 0.1875rem; /* 3px */
  --border-radius-voksen-m-expressive: 0.1875rem; /* 3px */
  --border-radius-voksen-l: 0.375rem; /* 6px */
  --border-radius-voksen-l-expressive: 0.375rem; /* 6px */
  --border-radius-voksen-xl: 999rem;
  --border-radius-s: var(--border-radius-voksen-s);
  --border-radius-m: var(--border-radius-voksen-m);
  --border-radius-l: var(--border-radius-voksen-l);
  --border-radius-xl: var(--border-radius-voksen-xl);
  --border-radius-button: var(--border-radius-m);

  /* Size */
  --size-page-s: 5vw;
  --size-page-l: 9vw;
  --size-xxs: 0.25rem; /* 4px */
  --size-xxs-expressive: 0.25rem; /* 4px */
  --size-xs: 0.5rem; /* 8px */
  --size-xs-expressive: 0.5rem; /* 8px */
  --size-s: 1rem; /* 16px */
  --size-s-expressive: 1rem; /* 16px */
  --size-m: 1.5rem; /* 24px */
  --size-ml: 2.25rem; /* 36px */
  --size-l: 3rem; /* 48px */
  --size-xl: 6rem; /* 96px */

  /* Colors */
  --color-live: 255, 93, 70;
  --color-misc-white: 255, 255, 255;
  --color-misc-black: 0, 0, 0;
  --color-misc-grey: 144, 145, 148;
  --color-misc-warning-light: 255, 247, 163;
  --color-misc-warning-medium: 6, 29, 58;
  --color-misc-warning-dark: 26, 21, 0;
  --color-text-black: 0, 0, 0;
  --color-text-white: 240, 240, 240;
  --color-channel-nrk1-dark: 4, 18, 37;
  --color-channel-nrk1-dark-75: 4, 18, 37, 0.75;
  --color-channel-nrk1-dark-black-50: 2, 9, 19;
  --color-channel-nrk1-disabled-on-dark: 115, 126, 140;
  --color-channel-nrk1-disabled-on-medium: 136, 149, 166;
  --color-channel-nrk1-light: 143, 186, 241;
  --color-channel-nrk1-medium: 13, 38, 70;
  --color-channel-nrk1-medium-75: 13, 38, 70, 0.75;
  --color-channel-nrk1-medium-dark-40: 9, 30, 57;
  --color-channel-nrk1-medium-light-10: 26, 53, 87;
  --color-channel-nrk1-medium-light-20: 39, 68, 104;
  --color-channel-nrk1-medium-light-5: 20, 45, 79;
  --color-channel-nrk1-white: 240, 240, 240;
  --color-channel-nrk1-white-dark-30: 180, 184, 190;
  --color-channel-nrk1-white-medium-30: 182, 190, 200;
}
