:root {
  /* Globally used, set in global.css so that it applies to all components */
  --font-family-base: 'NRK Sans', sans-serif;
  --color-background-base: #ffffff;

  /* Base text colors */
  --color-text-base: #061629;
  --color-text-subtle: #4c5a66;

  /* Font sizes */
  --font-size-small: 13px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  /* Line heights */
  --line-height-small: 16px;
  --line-height-medium: 22px;
  --line-height-large: 24px;

  /* Font weights */
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  /* Font variant for numeric values */
  --font-variant-numeric: lining-nums tabular-nums;

  /* Variables for displaying location and weather data */
  --table-row-divider: 1px solid #b2cff5;

  --location-color: var(--color-text-base);
  --location-font-size: var(--font-size-medium);
  --location-font-weight: var(--font-weight-bold);
  --location-line-height: var(--line-height-medium);

  --table-header-color: var(--color-text-subtle);
  --table-header-font-size: var(--font-size-small);
  --table-header-font-weight: var(--font-weight-normal);
  --table-header-line-height: var(--line-height-small);

  --temperature-font-size: var(--font-size-large);
  --temperature-line-height: var(--line-height-large);
  --temperature-font-variant: var(--font-variant-numeric);
  --temperature-minus-color: #1767ce;
  --temperature-plus-color: #b21002;

  --precipitation-font-size: var(--font-size-large);
  --precipitation-line-height: var(--line-height-large);
  --precipitation-font-variant: var(--font-variant-numeric);
  --precipitation-color: #1767ce;

  --wind-font-size: var(--font-size-large);
  --wind-line-height: var(--line-height-large);
  --wind-font-variant: var(--font-variant-numeric);
  --wind-color: #8129e5;
}
